@model Employee
@{
    ViewData["Title"] = "Login";
}

<form id="form_login" method="post">
    <div class="p-3 mt-4" style="margin: 5%;">
        <div class="row pb-2 text-center">
            <h2 class="text-primary">Login</h2>
            <span class="text-danger">@TempData["ErrorMessage"]</span>
        </div>
        <div class="mb-3">
            <label asp-for="Number"></label>
            <input asp-for="Number" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="form_button btn btn-primary">LOGIN</button>
        </div>
    </div>
</form>

<style>
    #nav_Login {
        color: #fff;
        background-color: #7289DA;
    }

    #form_login {
        width: 40%;
        margin: auto;
        margin-top: 15%;
        /*border-radius: 30px;
        box-shadow: 0px 0px 49px 10px rgba(0,0,0,0.51);
        -webkit-box-shadow: 0px 0px 49px 10px rgba(0,0,0,0.51);
        -moz-box-shadow: 0px 0px 49px 10px rgba(0,0,0,0.51);*/
    }

    .form_button {
        width: 45%;
        margin: auto;
    }
</style>

