@model Employee
@{
    ViewData["Title"] = "Register";
}

<form id="form_register" method="post">
    <table>
        <thead>
            <tr>
                <th class="h3">
                    Register
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label asp-for="Number"></label>
                    <input asp-for="Number" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirm Password</label>
                    @Html.TextBox("ConfirmPassword", null, new {@class="form-control", type="password"})
                </td>
            </tr>
            <tr style="background-color: #36393E;">
                <td style="text-align: right;">
                    <button type="submit" class="form_button btn btn-primary">
                        REGISTER
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<style>
    #nav_Register {
        color: #f1f1f1 !important;
        background-color: #7289DA;
    }

    #form_register {
        width: 40%;
        margin: auto;
        margin-top: 13%;
    }

        #form_register table {
            width: 100%;
            border-radius: 15px 15px 15px 15px;
            overflow: hidden;
        }

        #form_register th {
            text-align: center;
            width: 20% !important;
            color: #fff;
            background-color: #7289DA;
            padding: 2.5%;
        }

        #form_register td {
            width: 100% !important;
            padding: 2.5%;
        }

            #form_register td button {
                font-weight: bold;
                width: 33% !important;
            }

        #form_register tr {
            background-color: #282B30;
        }
</style>